@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #c8e8e0;
}

h1, h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    height: 60px;
    background-color: #47a78f;
    color: #fff;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: lightblue;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
} 

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    background-color: #9debd8;
    color: #fff;
    min-height: 400px;
    padding: 50px 0;
}

.header h1 {
    font-weight: bold;
    line-height: 1.2;
    font-size: 2rem;
    color: #333;
}

.header p {
    color: #333;
    padding-right: 50px;
}

.header img {
    max-width: 500px;
    border-radius: 10px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    flex: 1;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    background-color: #0151cc;
    color: #fff;
    margin: 20px 10px;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);

}

.box i {
    margin-right: 10px;
}

.section {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 50px;
    margin-bottom: 200px;
  }

  .section .row {
    display: flex;
    flex-wrap: wrap;
  }  

  .section .section-heading {
    color: #2e937a;
    margin-bottom: 50px;
    font-size: 25px;
  }
  .section .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .section .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #2e937a 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  .section h3 {
    font-size: 25px;
    color: #2e937a;
    margin-top: 20px;
  }
  .section p {
    color: #2e937a;
  }

  .section .icon-wrapper {
    background-color: #2e937a;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .section .card:hover {
    background-position: 0 100%;
  }
  .section .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #2e937a;
  }
  .section .card:hover h3 {
    color: #ffffff;
  }
  .section .card:hover p {
    color: #f0f0f0;
  }


.solution {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
    width: 100%;
    height: 250vh;
    background: #c8e8e0;
    padding-top: 50px;
}

.solution h2 {
    color: #2e937a;
    font-weight: 400;
}

.solution h1 {
    color: #2e937a;
    font-size: 45px;
    margin-top: 10px;
}

.solution .row {
    padding-top: 50px;
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.solution .box {
    width: 320px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
}

.solution .box img {
    width: 250px;
}

.solution .box h3 {
    color: #2e937a;
    font-size: 25px;
    padding-top: 20px;
}

.solution .box .teacher {
    padding-top: 50px;
}

.solution .box p {
    color: #2e937a;

}


.footer {
    height: 320px;
    background-color: #47a78f;
    color: #333;
}

.footer .container- {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
}

.footer .footer-box {
    flex: 1;
    max-width: 1100px;
    margin: 0 auto;
}

.footer .about p {
    margin-top: 15px;
    font-size: 18px;
    
}

.footer .card- {
    display: flex;
    padding-bottom: 20px;
    padding-top: 10px;
}

.footer .icon-wrapper- {
    margin-right: 20px;
    position: relative;
    border-radius: 50%;
    background-color: #2e937a;
    height: 2.5em;
    width: 2.5em;
    display: grid;
    place-items: center;
    transition: 0.5s;

}

  @media screen and (min-width: 768px) {
    .section {
      padding: 0 2em;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    .section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }


@media (max-width: 768px){
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .boxes .container {
        display: block;
        text-align: center;
    }
}

